body{


background-color: rgb(146, 185, 216);
    color:black;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    width: 800px;
    margin: auto;
    box-shadow: inset;
  
}


